<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>splash_logo</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(OPEN_INSTALL_KEY)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FLTEnableImpeller</key>
	<false/>
	<key>GeoApiKey</key>
	<string>$(GEO_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
		<string>tim</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否允许此App访问你的媒体资料库？</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App访问你的相机,以便你拍摄图片发送给好友或通话？</string>
	<key>NSContactsUsageDescription</key>
	<string>App would like to access your contacts to help you identify friends that are already using the app. You can then choose to add them if you wish</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>是否允许App访问你的地理位置？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要访问您的位置信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>是否允许App访问你的地理位置？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App would like to access microphone to allow you to speak to your friends during phone calls, and to allow you to send voice messages to your friends</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许聊天在查看大图是保存图片到相册？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问你的相册,以便你发送图片给好友？</string>
	<key>NSSiriUsageDescription</key>
	<string>需要使用Siri功能来提供更好的服务</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartCallIntent</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>PushChannel</key>
	<string>$(JPUSH_CHANNEL)</string>
	<key>PushKey</key>
	<string>$(JPUSH_KEY)</string>
	<key>Secret</key>
	<string>${AES_SECRET}</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.appinstall.APP_KEY</key>
	<string>$(OPEN_INSTALL_KEY)</string>
	<key>com.openinstall.APP_KEY</key>
	<string>$(OPEN_INSTALL_KEY)</string>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
