<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jxim.flutter_app_update">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <application
      android:requestLegacyExternalStorage="true">
    <service
        android:name=".utils.DownloadService"
        android:enabled="true">
        <intent-filter>
            <action android:name=".utils.DownloadService" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </service>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true"
    >
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_provider_paths" />
    </provider>
    
  </application>
</manifest>
