<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXwoc4yw96Nq042SyerTWeEJIhEjXZiA4</string>
	<key>GCM_SENDER_ID</key>
	<string>597472424321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiangxia.jximClient</string>
	<key>PROJECT_ID</key>
	<string>jx-im-35015</string>
	<key>STORAGE_BUCKET</key>
	<string>jx-im-35015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597472424321:ios:c8ed68a0eb421eb4583880</string>
</dict>
</plist>